<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserEntity" type="com.sys.management.model.UserEntity" />

		<typeAlias alias="MenuEntity" type="com.sys.management.model.MenuEntity" />
		
	    <typeAlias alias="EquipmentEntity" type="com.tpm.management.model.EquipmentEntity" />
	</typeAliases>
	<mappers>
		<mapper resource="com/sys/management/mapping/UserMapper.xml" />
		<mapper resource="com/sys/management/mapping/MenuMapper.xml" />
		<mapper resource="com/tpm/management/mapping/EquipmentMapper.xml" />
	</mappers>
</configuration>    
